* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2e44;
  flex-direction: column;
  opacity: 0;
}

.container {
  position: relative;
  color: #fff;
  background-color: #2d2f41;
  width: 425px;
  padding: 30px 50px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#buttons {
  display: flex;
  flex-direction: row;
}
#start,
#stop,
#reset,
#save,
#delete {
  margin: 10px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#start:hover,
#stop:hover,
#reset:hover {
  background: rgb(196, 188, 188);
}
#delete {
  background: crimson;
}
#delete:hover {
  background: rgb(228, 56, 90);
}
#save:hover {
  background: rgb(90, 224, 90);
}
#save {
  background: limegreen;
}
.delUnic {
  margin-left: 10px;
  width: 55px;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.linkButton {
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.href {
  color: white;
  font-size: 50px;
}

.hrefTwo {
  display: flex;
  font-size: 65px;
  color: white;
}
.list-times {
  list-style: none;
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-time {
  list-style: none;
}
.container-time li {
  display: flex;
  justify-content: space-between;
  padding: 1px;
}
