@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2e44;
  flex-direction: column;
}
.container {
  position: relative;
  color: #fff;
  background-color: #2d2f41;
  width: 425px;
  padding: 30px 50px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#start,
#stop,
#reset,
#save {
  margin: 10px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.linkButton {
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.href {
  color: white;
  font-size: 50px;
}
.hrefTwo {
  display: flex;
  font-size: 65px;
  color: white;
}
.container-time {
  list-style: none;
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
